<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>   
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">   
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="openApp">

  	<div class="container">	  
     	<ui-view></ui-view>    
  	</div>
 

    <script type="text/ng-template" id="/home.html">
	    <div class="row">
	    	<div class="col-md-6 col-md-offset-3">
	    		<h1><%= title %></h1>
	    		<p>My App for Open Bank Project</p>  
          <button ng-click="getAccounts()" class="btn btn-primary">Cuentas Publicas</button> 
	    		<button ng-click="authenticate()" class="btn btn-primary">Mis Cuentas</button>  
           		
    		</div>	    	
	    </div>
      <div class="row">
        <table class="table table-bordered">
         <thead>  
            <tr>
             <td> Bank </td>
             <td> Id</td>
             <td> Label  </td>
          </tr>      
         </thead>
         <tbody>
          <tr ng-repeat = "account in public_accounts">
             <td> {{account.bank_id}} </td>
             <td>  {{account.id}}</td>
             <td> {{account.label}}   </td>
          </tr>
         </tbody>

        </table>
      </div>
    </script>

    <script type="text/ng-template" id="/welcome.html">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1><%= title %></h1>
          <p> My Accounts for Open Project Bank></p>                              
        </div>        
      </div>
      <div class="row">
        <table class="table table-bordered">
         <thead>  
            <tr>
             <td> Bank </td>
             <td> Id</td>
             <td> Label  </td>
          </tr>      
         </thead>
         <tbody>
          <tr ng-repeat = "account in my_accounts">
             <td> {{account.bank_id}} </td>
             <td>  {{account.id}}</td>
             <td> {{account.label}}   </td>
          </tr>
         </tbody>

        </table>
      </div>
    </script>


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<script src="//cdn.jsdelivr.net/satellizer/0.13.4/satellizer.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </body>
</html>
